.container{
    margin-top: 15%;
}
@media only screen and (min-width:768px){
    
}
.strip-line{
    background-color: blue;
    height: 20px;
    max-width: 100%;
    margin-top: 50px;
}
.content-content{
    padding: 50px 0px;
    margin-top: 40px;
    text-align: left;
}
.card-body{
    background-color: black;
}